<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="static\user.png" alt="Logo" height="40px">
    </div>
    <button class="button-77" onclick="logout()">Deconectează-te</button>
  </header>

  <div class="main">

  <div class="drop-zone" id="dropZone" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)">
  </div>

    <div class="button-container">
      <input type="file" id="fileInput" accept="image/*" onchange="handleFiles(event)" />
      <label for="fileInput" class="submit_button">Selectează un buletin</label>


      <form action="/data_display" method="post">
        <input type="hidden" name="image_data" id="imageData" />
        <button class="submit_button">Scanează date</button>
      </form>
    </div>
  </div>

  <script>
    function logout() {
      window.location.href = "{{ url_for('login') }}";
    }

    function allowDrop(event) {
      event.preventDefault();
    }

    function dragEnter(event) {
      event.preventDefault();
      document.getElementById('dropZone').classList.add('hover');
    }

    function dragLeave(event) {
      event.preventDefault();
      document.getElementById('dropZone').classList.remove('hover');
    }

    function drop(event) {
      event.preventDefault();
      document.getElementById('dropZone').classList.remove('hover');

      const files = event.dataTransfer.files;
      handleImageFiles(files);
    }

    function handleFiles(event) {
      const files = event.target.files;
      handleImageFiles(files);
    }

    function handleImageFiles(files) {
    const imageType = /^image\//;
    for (let i = 0; i < files.length; i++) {
        const file = files[i];
        if (imageType.test(file.type)) {
            const reader = new FileReader();
            reader.onload = function(e) {
                    const img = new Image();
                    img.src = e.target.result;
                    document.getElementById('dropZone').innerHTML = '';
                    document.getElementById('dropZone').appendChild(img); // Store the data URL in the hidden input field
              		document.getElementById('imageData').value = e.target.result; };
          reader.readAsDataURL(file); }
    }
}
  </script>

</body>
</html>