<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
 	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
<header class="header">
    <div class="logo">
      <img src="static\user.png" alt="Logo" height="15px">
    </div>

 <!--   <button class="logout-button">Deconecteaza-te</button>  -->

    <button class="logout-button" onclick="logout()">Deconecteaza-te</button>

    <script>
    function logout() {
    window.location.href = "{{ url_for('login') }}";
    }
    </script>

  </header>

  <div class="main">
    <p class="welcome-message">Bine ai venit!</p>
    </div>
</body>
</html>

